/*About section*/
.about{
    display: inherit;
    text-align: center;
    background-color: #616161;
    color: #eaeaea;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
    padding-bottom: 30px;
}
/*about-me section*/
.about-me{
    border-bottom: 1px solid #b5b5b5;
}
.about-me__title{
    padding-bottom: 30px;
}
.about-me__text{
    text-align: justify;
}
.about-me__photo{
    width: 100%;
}
/*about-skills*/
.about-skills{
    border-bottom: 1px solid #b5b5b5;
    margin-top: 40px;
    text-align: justify;
}
.about-skills__logo{
    font-size: 22px;
    font-family: sans-serif;
}
.about-skills__item{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.about-skills__perc{
    width: 100%;
    height: 20px;
    background-color: #fff;
    text-align: center;
}
.about-skills__perc--photography{
    background-color: #9e9e9e;
    width: 95%;
}
.about-skills__perc--web-design{
    background-color: #9e9e9e;
    width: 85%;
}
.about-skills__perc--photoshop{
    background-color: #9e9e9e;
    width: 80%;
}
.btn--resume{
    margin-top: 10px;
    width: 180px;
    height: 50px;
    margin-bottom: 40px;
}
.btn--resume:hover{
    opacity: 0.6;
    cursor: pointer;
}
/*about-price*/
.about-price{
    margin-top: 40px;
}
.about-price__title{
    font-size: 22px;
    font-family: sans-serif;
    text-align: left;
}
.about-price__coast{
    display: flex;
}
.about-price__list{
    border: 2px red;
    margin-right: 16px;
    text-align: center;
    width: -webkit-fill-available;
}
.about-price__item{
    list-style-type: none; /* Убираем маркеры */
    line-height: 56px;
    height: 56px;
    background-color: #bfbfbf;
    border-bottom: 1px solid #adadad;
    margin-top: -15px;
}
.about-price__item--variant{
    line-height: 100px;
    font-size: 24px;
    height: 100px;
    color: #c6c6c6;
    background-color: #000;
}
.about-price__item--cost{
    line-height: 60px;
    height: 120px;
    background-color: #bfbfbf;
    border-bottom: 1px solid #adadad;
}
.about-price__item--btn{
    line-height: 97px;
    height: 97px;
    background-color: #b7b7b7;
}
.btn--sign{
    width: 100px;
    height: 50px;
    background-color: #bfbfbf;
    border: 0;
}
/*Contact form*/
.contact-me{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
}
.contact-title{
    text-align: center;
}
.form__field{
    margin-top: 25px;
    display: block;
}
.form__input{
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
}
.form__text-area{
    width: 100%;
    height: 40px;
}
.btn--subm{
    height: 40px;
    background: #000;
    color: #fff;
    margin-top: 15px;
    font-family: "Open Sans Semibold";
    font-size: 16px;
    width: 100%;
}