/*
aside menu
*/
.asaid{
    color: #757575;
    margin-left: 8%;
    background-color: #fff;
    text-align: center;
    width: 16%;
}
.logo{
    margin: 115px 0 120px 0;
    font-size: 24px;
}
.menu{
    float: inherit;
    display: grid;
    &__link{
        text-decoration: none;
        color: #787878;
    }
}
